<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Sondage</title>
		<link rel="stylesheet" href="/static/deco.css">
	</head>
	<body id="page">
		<div class="corps">
			<h1 id="titre">Sondage</h1>
			<p>Ce sondage à pour but de connaitre l'opinion des citoyens français sur des choses du quotidient !</p>
			<ul>
				<li>Une trentaine de questions</li>
				<li>Une seule réponse est attendue !</li>
				<li>Vos réponses seront rendues publique</li>
				<li>Ainsi que votre Nom et Prénom</li>
				<li>Aucune autre information personnelle est attendue</li>
			</ul>
			<p id="important">Ce site est une Alpha, la création d'une section résultat est en cours !</p>
			<p id="debut">Si vous êtes prêt nous vous invitons à cliquer sur le bouton juste en dessous :</p>
		</div>
		<div class="menu">
			<span class="bouton" style="float: inline-start"><a href='/questions'><img src="/static/images/bouton_questions.png" id="questions"></a></span>
		</div>
	</body>
</html>